/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the menu */
.menu {
    background-color: #333;
    padding: 10px;
}

.menu ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}


.content h1 {
    color: #333;
}

.content p {
    color: #666;
}

